<a href="https://colab.research.google.com/github/drmuratakyuz/My-Python-Codes/blob/main/Dictionaries_and_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# dictionary
personal_ID={
    "name":"Michael",
    "Phone":"05554442211",
    "e_mail":"michael@abc.com",
    "country":"USA",
    "state":"missouri",
    "city":"kansas city"
    }
print(personal_ID)

{'name': 'Michael', 'Phone': '05554442211', 'e_mail': 'michael@abc.com', 'country': 'USA', 'state': 'missouri', 'city': 'kansas city'}

In [ ]:
# an empty dictionay
dictionary1 = {}
print(dictionary1)
# integer valueded 
dictionary2= {1: 'Kansas', 2: 'Missouri'}
print(dictionary2)
# string and integer valuaded
dictionary3 = {'name': 'John', 1: [5, 4, 3]}
print(dictionary3)
# function of dict 
dictionary4 = dict({1:'plum', 2:'quince'})
print(dictionary4)

{}
{1: 'Kansas', 2: 'Missouri'}
{'name': 'John', 1: [5, 4, 3]}
{1: 'plum', 2: 'quince'}

In [ ]:
# three keys dictionaries
dictionary = {"bilgisayar" : "computer","sarı" : "yellow","masa" : "table"}
print(dictionary)

{'bilgisayar': 'computer', 'sarı': 'yellow', 'masa': 'table'}

In [ ]:
province_tr={ "konya" :"42","istanbul" :"34","ankara" :"06" }
print ( province_tr.keys())
#values()metodu sözlükteki değerleri bize yazdırır.
print (province_tr.values())

dict_keys(['konya', 'istanbul', 'ankara'])
dict_values(['42', '34', '06'])

In [ ]:
fruits={"Name": "Orange","Kind": "Oranges","Kg": 20}
print(fruits["Name"])
print(fruits["Kg"])

Orange
20

In [ ]:
# adding and changing values
personal_ID = {'name':'michael','age':40,'state':'Missouri'}
print(personal_ID)
# changing value
personal_ID['age'] =45
print(personal_ID)
# adding valie
personal_ID['address'] = 'Kansas City,Mo'
print(personal_ID)

{'name': 'michael', 'age': 40, 'state': 'Missouri'}
{'name': 'michael', 'age': 45, 'state': 'Missouri'}
{'name': 'michael', 'age': 45, 'state': 'Missouri', 'address': 'Kansas City,Mo'}

In [ ]:
# deleting values
personal_ID = {'name':'michael','age':40,'state':'Missouri'}
print(personal_ID)
# deleting value
personal_ID.pop('age')
print(personal_ID)

{'name': 'michael', 'age': 40, 'state': 'Missouri'}
{'name': 'michael', 'state': 'Missouri'}

In [ ]:
# deleting values with popitem (deleting last value/key)
personal_ID = {'name':'michael','age':40,'state':'Missouri'}
print(personal_ID)
# deleting value/key with popitem
personal_ID.popitem()
print(personal_ID)

{'name': 'michael', 'age': 40, 'state': 'Missouri'}
{'name': 'michael', 'age': 40}

In [ ]:
# deleting values with del
personal_ID = {'name':'michael','age':40,'state':'Missouri'}
print(personal_ID)
# deleting value with del
del personal_ID['age']
print(personal_ID)

{'name': 'michael', 'age': 40, 'state': 'Missouri'}
{'name': 'michael', 'state': 'Missouri'}

In [ ]:
# deleting all values and keys with clear()
dictionary_tr ={"black":"siyah", "green":"yeşil", "white":"beyaz",}
print(dictionary_tr)
dictionary_tr.clear()
print(dictionary_tr)

{'black': 'siyah', 'green': 'yeşil', 'white': 'beyaz'}
{}

In [ ]:
# deleting a dictionary with del
personal_ID = {'name':'michael','age':40,'state':'Missouri'}
print(personal_ID)
dictionary_tr.clear()
print(dictionary_tr)
# deleting value with del
del personal_ID
print(personal_ID)

{'name': 'michael', 'age': 40, 'state': 'Missouri'}
{}

NameError: ignored

In [ ]:
# adding key/value to dictionary
dictionary1={"name":"Sam", }
print(dictionary1)
dictionary1['surname']='Thomas'
print(dictionary1)
dictionary1['age']=40
print (dictionary1)

{'name': 'Sam'}
{'name': 'Sam', 'surname': 'Thomas'}
{'name': 'Sam', 'surname': 'Thomas', 'age': 40}

In [ ]:
# chang'ng key/value to dictionary
dictionary1={"name":"Sam", }
print(dictionary1)
dictionary1['surname']='Thomas'
print(dictionary1)
dictionary1['age']=40
print (dictionary1)
dictionary1['age']=45
print (dictionary1)

{'name': 'Sam'}
{'name': 'Sam', 'surname': 'Thomas'}
{'name': 'Sam', 'surname': 'Thomas', 'age': 40}
{'name': 'Sam', 'surname': 'Thomas', 'age': 45}

In [ ]:
# reaching the dictionary components
dictionary = {'name': 'John', 1: [5, 4]}
print(dictionary['name'])
print(dictionary.get(1))

John
[5, 4]

In [ ]:
# reaching the dictionary components
dictionary1 = {"zero":0,"one":1,"two":2,"three":3}
print(dictionary1)

print(dictionary1 ["one"])

print(dictionary1["two"])

{'zero': 0, 'one': 1, 'two': 2, 'three': 3}
1
2