<a href="https://colab.research.google.com/github/drmuratakyuz/My-Python-Codes/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def func(x="ali", y=11):
  print(x," is ",y,"years old.")

func()

ali  is  11 years old.

In [4]:
def func(y = 33, x="deli"):
  print(x," is ",y,"years old.")

func()

deli  is  33 years old.

In [8]:
def func(x="deli", y = 33):
  print(x," is ",y,"years old.")

func("veli", 33)

veli  is  33 years old.

In [9]:
def func(x="deli", y = 33):
  print(x," is ",y,"years old.")

func("selin", 22)

selin  is  22 years old.

In [11]:
def argu(a,c, b ="dunya", d ='saturn'):
  print(a,b,c,d, sep = "\n")


argu("uranus","jupiter")

uranus
dunya
jupiter
saturn

In [13]:
def argu(a= "uranus",c = "jupiter", b ="dunya", d ='saturn'):
  print(a,b,c,d, sep = "\n")

argu()

uranus
dunya
jupiter
saturn

In [14]:
def argu(a= "uranus",c = "jupiter", b ="dunya", d ='saturn'):
  print(a,b,c,d, sep = "\n")

argu(d = "sun", a ="earth", c = "pluto", b = "venus")

earth
venus
pluto
sun

In [15]:
def argu(a= "uranus",c = "jupiter", b ="dunya", d ='saturn'):
  print(a,b,c,d, sep = "\n")

argu("sun","earth", "pluto", "venus")

sun
pluto
earth
venus

In [16]:
def func(x, y):
  print(x," is ",y,"years old.")

func("veli", 33)

veli  is  33 years old.

In [17]:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)

city('Athens')  # we don't have to pass any arguments into 'continent'
city('Ulaanbaatar', continent='Asia')  # we can change the default value by kwargs
city('Cape Town', 'Africa')  # we can change the default value by positional args.

Athens in Europe
Ulaanbaatar in Asia
Cape Town in Africa

In [18]:
def fruiterer(fruit1, fruit2) :
    print('I want to get', fruit1, 'and', fruit2)
        
fruiterer('orange', 'banana')

I want to get orange and banana

In [19]:
# arbitrary numbers of arguments
def fruiterer(*fruit) :
    print('I want to get :')
    for i in fruit :
        print('-', i)
        
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get :
- orange
- banana
- melon
- ananas

In [20]:
# If you need to prefer to use arbitrary keyword arguments (**kwargs), 
# you can use it in the same way.
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [21]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')

family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [22]:
def gene(x, y):  # defined by positional args
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)  # we call the function by a single argument(variable)

Fred belongs to Generation X
Marry belongs to Generation Y

In [23]:
def gene(x='Solomon', y='David'):  # defined by kwargs (default values assigned to x and y)
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [27]:
def slicer(*n):
  odd = []
  even = []
  for i in n:
    if i %2 ==0:
      even.append(i)
    else:
      odd.append(i)
  print(odd)
  print(even)
slicer(1,2,3,4,5,6,7,8,9,10)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [32]:
def organizer(** people):
    names = []
    ages = []
    for keys, values in people.items():
      names.append(keys)
      ages.append(values)
    print(names, ages, sep="\n")
      
 
organizer(Beth=26, Oscar=42, Justin=18, Frank=33)

['Beth', 'Oscar', 'Justin', 'Frank']
[26, 42, 18, 33]

In [33]:
def square(x):
    return x**2

In [ ]:
lambda x: x**2

In [ ]:
lambda x, y: (x+y)/2  # takes two numbers, returns the result

In [ ]:
lambda x: 'odd' if x % 2 != 0 else 'even'

In [ ]:
(lambda x: x**2)(2)  # squares '2'

In [ ]:
print((lambda x, y: (x+y)/2)(3, 5))  # takes two int, returns mean of them

In [ ]:
average = (lambda x, y: (x+y)/2)(3, 5) 
print(average)

In [35]:
def fi(number):
    a = 0
    b = 1
    c = 1
    
    for i in range(number):
     print(c)  
     c = b + a
     a = b
     b = c
num = int(input("Enter a number: "))
fi(num)

Enter a number: 8
1
1
2
3
5
8
13
21

In [36]:
def fi(number):
    a = 0
    b = 1
    c = 1
    fibo= []
    for i in range(number):
     fibo.append(c)  
     c = b + a
     a = b
     b = c
    print(fibo)
num = int(input("Enter a number: "))
fi(num)

Enter a number: 8
[1, 1, 2, 3, 5, 8, 13, 21]

In [37]:
i = 1
fibonacci = [i]
while i < len(range(56)):
    fibonacci.append(i)
    i = fibonacci[-2] + fibonacci[-1]
print(fibonacci)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [42]:
sentence = 'I am living in Nigeria and I will go to Kansas City.'

def vowel(letter):
  vowels = "a e o u i I".split()
  if letter.lower() in vowels:
    return True
  else:
    return False
filtered_vowels = filter(vowel,sentence)
print(*filtered_vowels)

I a i i i i e i a a I i o o a a i