<a href="https://colab.research.google.com/github/drmuratakyuz/My-Python-Codes/blob/main/ITF_11_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
1. What will be the output of the following Python code?
for x in set('pqr'):
print(x*2)
A.
pqr
pqr

B.
qqpprr

C.
ppqqrr

D.
rr
qq
pp
'''

#1. What will be the output of the following Python code?
for x in set('pqr'):
  print(x*2)

# ???

pp
rr
qq

In [ ]:
'''
2. Which of the following statements create a dictionary?
#A. d = {}
B. d = {“john”:40, “peter”:45}
C. d = {40:”john”, 45:”peter”}
D. All of the mentioned
'''
#2. Which of the following statements create a dictionary?
 
d = {} #A. Answer is A

#d = {“john”:40, “peter”:45}  #B. 

#d = {40:”john”, 45:”peter”} #C. 

# All of the mentioned  #D. 

print(d)

{}

In [ ]:
'''
3. What is the output of the following program?
d = {"john":40, "peter":45}
d["john"]
#A. 40
B. 45
C. “john”
D. “peter”
'''
#3. What is the output of the following program?
d = {"john":40, "peter":45}
d["john"]

40

In [ ]:
'''
4. What would this expression return in Python?
d = {"john":40, "peter":45}
print(list(d.keys()))
A. (“john”:40, “peter”:45)
B. (“john”, “peter”)
#C. [“john”, “peter”] 
D. [“john”:40, “peter”:45]
'''

d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

In [ ]:
'''
5. What is the output of the code shown below?
a={}
a['a']=1
a['b']=[2,3,4]
print(a)
A. Exception is thrown
#B. {‘b’: [2], ‘a’: 1}
C. {‘b’: [2, 3, 4], ‘a’: 1}
D. {‘b’: [2], ‘a’: [3]}
'''
a={}
a['a']=1
a['b']=[2,3,4]
print(a)

{'a': 1, 'b': [2, 3, 4]}

In [ ]:
'''
6. What is the output of the code shown below?
z=set('abc')
z.add('san')
z.update(set(['p', 'q']))
print(z)
A. {‘abc’, ‘p’, ‘q’, ‘san’}
#B. {‘a’, ‘b’, ‘c’, ‘p’, ‘q’, ‘san’}
C. {‘a’, ‘b’, ‘c’, [‘p’, ‘q’], ‘san}
D. {‘a’, ‘c’, ‘c’, ‘p’, ‘q’, ‘s’, ‘a’, ‘n’}
'''

z=set('abc')
z.add('san')
z.update(set(['p', 'q']))
print(z)

{'p', 'san', 'c', 'b', 'a', 'q'}

In [ ]:
'''
7. What is the term to describe this code?
count, fruit, price = (2, 'apple', 3.5)
A. tuple assignment
#B. tuple unpacking
C. tuple matching
D. tuple duplication
'''

count, fruit, price = (2, 'apple', 3.5)
print("count\t: ",count,"\t\t",type(count))
print("fruit\t: ",fruit,"\t",type(fruit))
print("price\t: ",price,"\t\t",type(price))

count	:  2 		 <class 'int'>
fruit	:  apple 	 <class 'str'>
price	:  3.5 		 <class 'float'>

In [ ]:
'''
8. What is the output of the code shown below??
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))
A. [('Freshman', 2019), ('Sophomore', 2020), ('Junior', 2021), ('Senior', 2022)]
B. [(2019, 2020, 2021, 2022), ('Freshman', 'Sophomore', 'Junior', 'Senior')]
C. [('Freshman', 'Sophomore', 'Junior', 'Senior'), (2019, 2020, 2021, 2022)]
#D. [(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]
'''

college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [ ]:
'''
9. How can you check your current git version?
A. git --v
#B. git --version
C. git --option
D. git --current

'''