<a href="https://colab.research.google.com/github/drmuratakyuz/My-Python-Codes/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
liste= [] #boş list
liste=list()
liste1=[1,2,3,4,5,6]
liste2=['a','b','c']
liste3=[0.5,1.7,67.89,3.14]
liste4=['ali','veli','yılmaz','hayri']
liste5 = list(ifade for degisken in sequence) # Hesaplanan bir liste

NameError: ignored

In [3]:
liste=[1,2,'ali',0.25]
print(liste)

[1, 2, 'ali', 0.25]

In [4]:

fruit ="plum"
meyve = 5 +fruit[0:]
print(fruit)

TypeError: ignored

In [5]:
fruit ="plum"
fruit = "apple-" +fruit[0:]
print(fruit)
liste=['a','b']
liste[1]=2
print(liste)

apple-plum
['a', 2]

In [6]:
liste=[ ] #veya liste=list()
print(liste)

[]

In [8]:
colors = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']
print('The list of colors is printed to screen: ')
print(colors)

The list of colors is printed to screen:
['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']

In [9]:
liste1 = ['a','b','c','d','e','f']
print(liste1)

['a', 'b', 'c', 'd', 'e', 'f']

In [10]:
liste2=['python','geleceği','olan','bir','dil',500,0.567]
print(liste2)

['python', 'geleceği', 'olan', 'bir', 'dil', 500, 0.567]

In [12]:
liste=["birinici veri","ikinci veri","üçüncü veri ","dördüncü veri","beşinci veri"]
#beş elemenlı listenin ilk verisi
print(liste[0])
#beş elemenlı listenin son verisi
print(liste[4])
print(liste[-1])

birinici veri
beşinci veri
beşinci veri

In [13]:
liste=["apple","pear","chery","orange"]
print(liste)
print(liste[1])

['apple', 'pear', 'chery', 'orange']
pear

In [15]:
stuffs = ["mirroe", "television", "curtain"]
if("curtain" in stuffs):
  print("This value is in the list.")
else:
  print("This value is not in the list")

This value is in the list.

In [16]:
my_list = [1,2,3,4,5]
components = my_list[1:3]
print(components)

['b', 'c']

In [18]:
my_list=[10,20,30,40,50]
component = my_list[3]
print(component)
components = my_list[1:3]
print(components)

40
[20, 30]

In [19]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list)
# 1st component
print(my_list[0])
# 6th component
print(my_list[5])
# First 5 components
print(my_list[:5])
# From 1st to 5th components
print(my_list[1:7])
print(my_list[5:])
print(my_list[::2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
6
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6, 7]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [20]:
liste = [ "hello", "word", "hi", "bye bye" ]
print (liste [- 1 ]) 
print( liste [- 3 ]) 
print(liste [- 4 ]) 
print(liste[::-1])

bye bye
word
hello
['bye bye', 'hi', 'word', 'hello']

In [21]:
#using append
teams=["gs","fb","bjk"]
teams.append("ts")
print(teams)

['gs', 'fb', 'bjk', 'ts']

In [23]:
# using insert
vegetables =["cabbage","lettuce","leek","spinach","bean"]
vegetables.insert(2,"eggpant")
print(vegetables)

['cabbage', 'lettuce', 'eggpant', 'leek', 'spinach', 'bean']

In [24]:
# using copy
states1 =["texas","ohio","virginia","california","florida"]
states2=[]
states2 = states1.copy()
print(states2)

['texas', 'ohio', 'virginia', 'california', 'florida']

In [25]:
# using count
teams = ['GS','FB','BJK','TS']
print(teams.count('FB'))

1

In [26]:
# using extend
birds1=["quail","parrot","eagle","vulture","hawk"]
birds2=["owl","parakeet"]
birds1.extend(birds2)
print(birds1)

['quail', 'parrot', 'eagle', 'vulture', 'hawk', 'owl', 'parakeet']

In [32]:
# using pop
vegetables =["cabbage","lettuce","leek","spinach","bean"]
vegetables.pop(2)

print(vegetables)

['cabbage', 'lettuce', 'spinach', 'bean']

In [31]:
# using clear

my_list =["quince","pomegranate","cherry","apricot","Grape"]
my_list.clear()
print(my_list)

[]

In [33]:
# using remove
states1 =["texas","ohio","virginia","california","florida"]
states1.remove("virginia")
print(states1)

['texas', 'ohio', 'california', 'florida']

In [39]:
# using del
states1 =["texas","ohio","virginia","california","florida"]
del states1[2]
print(states1)

['texas', 'ohio', 'california', 'florida']

In [34]:
# usung reverse
numbers=[10,20,30,40,50,60,70]
numbers.reverse()
print(numbers)

[70, 60, 50, 40, 30, 20, 10]

In [36]:
# using sort
states1 =["texas","ohio","virginia","california","florida"]
states1.sort()
print(states1)

['california', 'florida', 'ohio', 'texas', 'virginia']

In [40]:
# using len
team = "Boston"
states1 =["texas","ohio","virginia","california","florida"]
print(len(team))
print(len(states1))

6
5

In [41]:
# nested lists
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
newlist = [list1,list2,list3]
print(newlist)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
vegetables=[]
vegetables.append(['green','spinach'])
vegetables.append(['white','cabbage'])
vegetables.append(['orange','carrot'])
vegetables.append(['black','radish'])
vegetables.append(['red','tometoes'])
print(vegetables)

[['green', 'spinach'], ['white', 'cabbage'], ['orange', 'carrot'], ['black', 'radish'], ['red', 'tometoes']]

In [44]:
vegetables=[]
vegetables.append(['green','spinach'])
vegetables.append(['white','cabbage'])
vegetables.append(['orange','carrot'])
vegetables.append(['black','radish'])
vegetables.append(['red','tometoes'])
print(vegetables[1])
print(vegetables[1:4])
print(vegetables[-1])
print(vegetables[0])

['white', 'cabbage']
[['white', 'cabbage'], ['orange', 'carrot'], ['black', 'radish']]
['red', 'tometoes']
['green', 'spinach']

In [51]:
vegetables=[]
vegetables.append(['green','spinach'])
vegetables.append(['white','cabbage'])
vegetables.append(['orange','carrot'])
vegetables.append(['black','radish'])
vegetables.append(['red','tometoes'])
print(vegetables[1][0])
print(vegetables[2])
print(vegetables[-1][0])
print(vegetables[0][1])

white
['orange', 'carrot']
red
spinach

In [54]:
# Lets set 3 lists.
first_list = [1,2,3]
second_list = ['a','b','c']
third_list= [40,50,60]
last_list= [first_list,second_list,third_list]
print(last_list)
print()
print(last_list[1][0],last_list[2][1])

[[1, 2, 3], ['a', 'b', 'c'], [40, 50, 60]]

a 50

In [59]:
list0=[1,2,3,4,5,'kansas']
print(list0)
list0[0]=str("kansas")
list0[2]=float(1.5)
list0[5]=int(20)
print(list0)

[1, 2, 3, 4, 5, 'kansas']
['kansas', 2, 1.5, 4, 5, 20]

In [61]:
fruit="apple"
list1=list(fruit)
print (list1)
print(len(list1))

['a', 'p', 'p', 'l', 'e']
5

In [62]:
# using range
list1=list(range(1,15,2))
print(list1)
list1.sort()
print(list1)
list1.reverse()
print(list1)

[1, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13]
[13, 11, 9, 7, 5, 3, 1]

In [63]:
# using split
inf=input("Enter your information using comma: ")
list1=inf.split(",")
print(list1)

Enter your information using comma: murat,akyuz,bursa,erzurum
['murat', 'akyuz', 'bursa', 'erzurum']

In [66]:
my_list = ['a','e','i','o','i','u']
print(my_list.count('i'))
print(my_list.count('p'))

2
0

In [67]:
list1, list2, list3, list4 = ['a'],[1],['hello'],[1.5]
print(list1)
print(list2)
print(list3)
print(list4)

['a']
[1]
['hello']
[1.5]

In [68]:
list1 = ['a','b','c']
list2 = ['d','e']
newlist = list1 + list2
print(newlist)

['a', 'b', 'c', 'd', 'e']

In [75]:
list1 = [34,1,56,334,23,2,3,19]
list1.sort()
print(list1)
list1.reverse()
print(list1)

[1, 2, 3, 19, 23, 34, 56, 334]
[334, 56, 34, 23, 19, 3, 2, 1]

In [76]:
mylist= ["Hi", "World", "How are you?", "Well done"]
print(mylist[-1])
print(mylist[-3])
print(mylist[-4])

Well done
World
Hi

In [80]:
mylist = [1, 2, 3, 4, 5, 6, 7]
print(mylist[1:3])
print(mylist[0:3])
print(mylist[3:])
print(mylist)

[2, 3]
[1, 2, 3]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [83]:
names = ['David','Michael','Victor']
surnames = ['Johnson','Harrison','Smith']
name_surname1 = names[0]+'\t'+surnames[0]
name_surname2 = names[1]+'\t'+surnames[1]
name_surname3 = names[2]+'\t'+surnames[2]

print(name_surname1)
print(name_surname2)
print(name_surname3)

David	Johnson
Michael	Harrison
Victor	Smith

In [86]:
mylist = ['one','two','four']
mylist.insert(2,'three')
mylist.append('five')
print(mylist)

['one', 'two', 'three', 'four', 'five']

In [90]:
mylist = ['first value', 'second value', 'third value','fourth value','fifht value']
print(mylist[0])
print(mylist[4])
print(mylist[-1])

first value
fifht value
fifht value