<a href="https://colab.research.google.com/github/drmuratakyuz/My-Python-Codes/blob/main/startswithandendswiths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = ['lemon', 'orange', 'plum', 'apple', 'apricot', 'chery','pear']
list1 = [i for i in a if i.startswith('a')]
print(list1)

['apple', 'apricot']

In [13]:
a = ['lemon', 'orange', 'plum', 'apple', 'apricot', 'chery','pear']
list1 = [i for i in a if i.endswith('e')]
print(list1)

['orange', 'apple']

In [11]:
a = ['123','23','12','45','1231','34','67','127']
list1 = [i for i in a if i.startswith('1')]
print(list1)

['123', '12', '1231', '127']