<a href="https://colab.research.google.com/github/drmuratakyuz/My-Python-Codes/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# creating an empty tuple
mytuple = ()
print(mytuple)

# creating an empty tuple with tuple() function
mytuple1 = tuple()
print(mytuple1)

()
()

In [4]:
# creating a tuple
mytuple = ("Python", "Java", "2020", "JavaScript")
print(mytuple)

('Python', 'Java', '2020', 'JavaScript')

In [7]:
# creating a tuple with a single component
fruits = ("plum")

print(fruits)
# if not using comma, this is evaluated as a string
fruits = ("plum",)
print(fruits)

plum
('plum',)

In [9]:
# creating a tuple with () method
mytuple = (5,10,15,20,25,30)
# Reaching first indis
print(mytuple[0])
# Reaching third indis
print(mytuple[2])
print(mytuple[-1])
print(mytuple[2:])

5
15
30
(15, 20, 25, 30)

In [11]:
# creating a tuple with tuple() function
mytuple = tuple(("New York","New Jersey","Miami"))
print(mytuple)

('New York', 'New Jersey', 'Miami')

In [12]:
# i defined a tuple
numbers = (0,1,2,3,4,5,6,7,8,9,) # I defined a tuple
letters = ("a","b","c","d","e") #I defined second tuple
newtuple = numbers + letters # I combined two tuples
print(newtuple) #I printed newtuple

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c', 'd', 'e')

In [13]:
letters = ("a","b","c","d","e") 
if "a" in letters:
  print(True)
else:
  print(False)

True

In [14]:
# creatind a tuple from a list
months =["january","february","march","april","may","june"]
mytuple = tuple(months)
print(mytuple)

('january', 'february', 'march', 'april', 'may', 'june')

In [16]:
test1= (1,2,3,4,5,6,7)
for component in test1:
  print(component)

1
2
3
4
5
6
7

In [17]:
# sorting tuples
mytuple =("tulip","snowdrop","lily","daisy")
print(sorted(mytuple))

['daisy', 'lily', 'snowdrop', 'tulip']

In [20]:
mytuple1 = ('a','b','c','d','e')
print(mytuple1)
print(len(mytuple1))
mytuple2 = (1,2,3,4,5,6)
print(mytuple2)
print(len(mytuple2))
newtuple = (mytuple1+mytuple2)
print(newtuple)
print(len(newtuple))

('a', 'b', 'c', 'd', 'e')
5
(1, 2, 3, 4, 5, 6)
6
('a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 6)
11

In [23]:
numbers = (20,24,25,79,40,39,50)
for i in range(len(numbers)):
  if numbers[i]%5 == 0:
    print(numbers[i])

20
25
40
50

In [25]:
mytuple = ("henry","alisson","c","mark","denise","f","fatima")
newtuple = mytuple[3:5]
print(newtuple)

('mark', 'denise')

In [26]:
test1=("alison","david","aline","Fatima","Hassan","alison","denise")
print(test1.count('alison'))

2

In [28]:
dictionary = {'color': 'blue', 'dress': 'trousers', 'size': 'M'}
for key1 in dictionary:
  print(key1)

color
dress
size

In [37]:
dictionary = {'color': 'blue', 'dress': 'trousers', 'size': 'M'}
for key in dictionary:
  print(key, dictionary[key])
  dict_items = dictionary.items()
  
  for items in dict_items:
    print(items)

color blue
('color', 'blue')
('dress', 'trousers')
('size', 'M')
dress trousers
('color', 'blue')
('dress', 'trousers')
('size', 'M')
size M
('color', 'blue')
('dress', 'trousers')
('size', 'M')

In [43]:
sozluk = {'renk': 'mavi', 'kıyafet': 'pantolon', 'beden': 'M'}
for anahtar in sozluk:
  print(anahtar,sozluk[anahtar])
  sozluk_bilesenleri=sozluk.items()
  for bilesen in sozluk_bilesenleri :
    print(bilesen)
    print(type(bilesen))# demet veri tipinde oluyor

renk mavi
('renk', 'mavi')
<class 'tuple'>
('kıyafet', 'pantolon')
<class 'tuple'>
('beden', 'M')
<class 'tuple'>
kıyafet pantolon
('renk', 'mavi')
<class 'tuple'>
('kıyafet', 'pantolon')
<class 'tuple'>
('beden', 'M')
<class 'tuple'>
beden M
('renk', 'mavi')
<class 'tuple'>
('kıyafet', 'pantolon')
<class 'tuple'>
('beden', 'M')
<class 'tuple'>